.section-one-part-one {display:flex; 
    background-color: #1f2937;
    color: white ; 
    ;
   
    height: 300px;
width:auto;
flex-direction: column;
padding-left: 200px;
padding-top: 23px;
padding-right: 200px;
padding-bottom: 200px;
}

header {font-size: 48px;
font-weight: bolder;}

.top-bar {display: flex; 
    justify-content: space-between;
    margin-bottom: 50px;}

.header-links {display: flex; gap: 23px;}

.description { text-align: justify; max-width: 200px
}

.header-button {  font-size: small; }

.awesome {display: flex; 
    flex-direction: row;   
    justify-content: space-between;
    padding-top: 75px;
}
 
.header-text{
    display: flex; 
    flex-direction: column; 
    align-content: flex-start;
    
}

ul {list-style: none; display: flex; gap: 23px;}


.bird {align-self: center;
}


a:link { text-decoration: none; color: #eee; }


a:visited { text-decoration: none; color: #eee;}


a:hover { text-decoration: none;color: #eee; }


a:active { text-decoration: none; color: #eee; }

.mid-section-one {display: flex; 
    flex-direction: column; 
    font-size: 36px;
height:fit-content;
list-style: none;
align-items: center;
padding-top: 23px;


}



.random-images {display: flex; 
    font-size: small; 
    margin-top: auto; 
    padding-left: 200px;
padding-top: 23px;
padding-bottom: 200px;
}

  

    button {background-color:#3882F6; 
    }

  



.mid-section-two {display: flex; 
    flex-direction: column; 
    background-color: #E5E7EB;
height: fit-content;
align-items: flex-end; 
flex-wrap: wrap;
padding-left: 200px;
padding-right: 200px;
padding-top: 100px;
padding-bottom: 100px;

}

.quote {font-size: 36px; font-weight: lighter; font-style: italic; color:#1f2937}

.mid-section-three {display:flex; 
  justify-content: space-around;
    height: fit-content;
    background-color: #3882F6;
margin: 150px;
color: #E5E7EB;
align-items: center;
}

.phrase {display: flex; 
    flex-direction: column; 
  
    padding-bottom: 100px;
    
    
   


}





.sign-up {border: 1px solid #E5E7EB;
    overflow: hidden;
    padding: .5em  ; 
width: 100px; 
height: 30px;
align-items: center;
display: flex;
justify-content: center;}

footer {
    background-color: #1f2937;
    height: 30px; color: #E5E7EB;
    justify-content: center; 
    display: flex; 
    align-items: center;
}